.square > ul li {
  position: absolute;
  border: 1px solid var(--bckg-square-color);
  width: 30px;
  height: 30px;
  list-style: none;
}

.square li {
  position: absolute;
  top: 25vh;
  left: 45vw;
  background-color: var(--bckg-square-color);
  opacity: 0;
  animation: square-anim 10s linear infinite;
}

.square li:nth-child(2) {
  position: absolute;
  top: 80vh;
  left: 15vw;
  animation-delay: 2s;
}

.square li:nth-child(3) {
  position: absolute;
  top: 60vh;
  left: 85vw;
  animation-delay: 4s;
}

.square li:nth-child(4) {
  position: absolute;
  top: 10vh;
  left: 70vw;
  animation-delay: 6s;
}

.square li:nth-child(5) {
  position: absolute;
  top: 10vh;
  left: 10vw;
  animation-delay: 8s;
}

@keyframes square-anim {
  0% {
    transform: scale(0) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(5) rotateY(1000deg);
    opacity: 0;
  }
}

.circle > ul li {
  position: absolute;
  border: 1px solid var(--bckg-circle-color);
  width: 30px;
  height: 30px;
  list-style: none;
}

.circle li {
  bottom: 10;
  left: 15vw;
  animation: circle-anim 10s linear infinite;
}

.circle li:nth-child(2) {
  left: 70vw;
  animation-delay: 2s;
}

.circle li:nth-child(3) {
  left: 50vw;
  animation-delay: 4s;
}

.circle li:nth-child(4) {
  left: 70vw;
}

.circle li:nth-child(5) {
  left: 85vw;
}

@keyframes circle-anim {
  0% {
    transform: scale(0) rotate(0deg);
    bottom: 0;
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: scale(5) rotate(1000deg);
    bottom: 100vh;
    opacity: 0;
    border-radius: 50%;
  }
}
