:root {
  --white: white;
  --black: black;
  --text-color-dark: rgb(249, 224, 134);
  --bckg-light1: #215aa9;
  --bckg-light2: #64acef;
  --panel-light: rgb(158, 224, 249);
  --bckg-dark1: #06152a;
  --bckg-dark2: #173959;
  --panel-dark: rgb(110, 162, 170);
  --message-light: red;
  --message-dark: rgb(200, 44, 44);
  --button-size-light: rgb(103, 165, 245);
  --button-size-dark: rgb(64, 121, 196);
  --button-gen-light: rgb(77, 142, 228);
  --button-gen-dark: rgb(57, 112, 185);
  --combo-opt-sel-light: rgb(66, 131, 217);
  --combo-opt-sel-dark: rgb(43, 95, 163);
  --combo-opt-hlt-light: rgb(145, 188, 243);
  --combo-opt-hlt-dark: rgb(85, 149, 233);
  --input-light: white;
  --input-dark: lightgray;
  --anim-square-light: white;
  --anim-square-dark: gray;
  --anim-circle-light: white;
  --anim-circle-dark: gray;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  /* background-image: linear-gradient(#09336d, #1b87eb);*/
  background-image: linear-gradient(var(--bckg-color1), var(--bckg-color2));
  color: var(--text-color);
  font-weight: var(--font-weight);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.light {
  --bckg-color1: var(--bckg-light1);
  --bckg-color2: var(--bckg-light2);
  --bckg-panel: var(--panel-light);
  --bckg-square-color: var(--anim-square-light);
  --bckg-circle-color: var(--anim-circle-light);
  --text-color: var(--black);
  --button-size-color: var(--button-size-light);
  --button-gen-color: var(--button-gen-light);
  --input-color: var(--input-light);
  --combo-opt-sel-color: var(--combo-opt-sel-light);
  --combo-opt-hlt-color: var(--combo-opt-hlt-light);
  --message-color: var(--message-light);
  --font-weight: 400;
  --image: url("./day.jpg");
}

body.dark {
  --bckg-color1: var(--bckg-dark1);
  --bckg-color2: var(--bckg-dark2);
  --bckg-panel: var(--panel-dark);
  --bckg-square-color: var(--anim-square-dark);
  --bckg-circle-color: var(--anim-circle-dark);
  --text-color: var(--white);
  --button-size-color: var(--button-size-dark);
  --button-gen-color: var(--button-gen-dark);
  --input-color: var(--input-dark);
  --combo-opt-sel-color: var(--combo-opt-sel-dark);
  --combo-opt-hlt-color: var(--combo-opt-hlt-dark);
  --message-color: var(--message-dark);
  --font-weight: 400;
  --image: url("./night.jpg");
}
